.form {
  margin-top: 2rem;
  width: 90%;
  height: 100%;
}

.inputs {
  margin-bottom: 2rem;
}

.formTitle {
  margin-bottom: 0.4rem;
}

.formInput {
  width: 100%;
  height: 3rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  padding: 0 1rem;
}

.button {
  padding: 0.8rem 1.2rem;
  color: white;
  background-color: #0a285c;
  border: none;
  border-radius: 0.4rem;
  width: max-content;
  place-self: end;
  margin-top: auto;
}
